* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

/* ---------------------------------
------------CATEGORY-------------
--------------------------------- */

.header-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.category-title {
  margin-bottom: 2rem;
}

.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  /* width: 90%; */
  height: fit-content;
}
.product-card {
  height: 20%;
  width: 15%;
  border: 2px solid red;
}

.img-card {
  object-fit: contain;
  max-width: 100%;
}

.add-btn {
  padding: 1rem 2rem;
  background-color: aqua;
  text-align: center;
  margin: 0 auto;
}

.category-aside {
  margin-right: 2rem;
  width: 200px;
}
/* ---------------------------------
------------PRODUCT-------------
--------------------------------- */

.product-wrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

/* .product-img{
    object-fit: contain;
    max-width: 50%;
} */

.category-container {
  display: flex;
  /* flex-direction: row; */
}

.checkbox-label {
  width: 200px;
}

.checkbox-input {
  margin-right: 0.3rem;
}

.heading-filter {
  margin: 1.5rem 0;
}
