/* .main-wrapper {
    margin-top: 6rem;
   
} */

.categories-home-title {
    margin-top: 3rem;
    text-align: start;
    /* font-weight: 600; */

}

.name-categories-home {
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 1rem;
    text-align: center;
    /* margin-top: -1.2rem; */
}

.link-category-home {
    text-decoration: none;
    color: inherit;
    color: var(--main-color);
    font-weight: 500;
}

.categories-main {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, 15vw); */
     /* grid-template-columns: repeat(auto-fill, minmax(13vw, 1fr)); */
    /* row-gap: 2rem; */
    /* justify-items: center; */
    /* justify-content: space-between; */
     margin-top: 3rem;
     /* text-align: center; */

     display: flex;
     justify-content: space-between;
     gap: 1rem;
     /* flex-wrap: wrap; */
     
     
    }
    
    .category-home {
        width: 12vw;
    transition: .5s ease;


}
 .category-home:hover {
    /* max-width: 15vw; */
     transform: scale(1.2);
     opacity: 60%;
     /* overflow: hidden; */
    /* border: 1px solid green; */

} 

/* .category-img:hover {
    transform: scale(1.2);
} */

.category-img-home {
    object-fit: cover;
    width: 12vw;
    height: 12vh;
    border-radius: 20px;
    transition: .5s ease;
   
}

/* .image-container { */
    /* height: 10rem; */
    /* width: 100%; */

/* } */