/* .App {
  text-align: center;
} */

* {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Roboto", sans-serif;
}
.app-container {
  width: 100%;
  margin: 0 auto;
  padding: 6rem 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  max-width: 1390px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* -------------------------------------------------- */
/* -------------PRODUCTS COMPONENTS WRAPPER------------ */
/* -------------------------------------------------- */

/* ------------POPULAR PRODUCTS */
/* ------------MOST VIEWED PRODUCTS */
/* ------------RECENTLY VIEWED PRODUCTS */

.products-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  /* align-items: center; */
}

.main-components-wrapper {
  /* border: 1px solid red; */
  height: 100%;
  overflow: scroll;
}
.bottom-nav-wrapper {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MEDIA QUARIES */
@media screen and (max-width: 480px) {
  .App {
    position: relative;
    width: 100%;
    margin: 0;
  }

  .app-container {
    max-width: 480px;
    position: relative;
    padding: 0;
  }
  .bottom-nav-wrapper {
    display: block;
    position: sticky;
    bottom: 0;
    border-top: 1px solid rgb(215, 215, 215);
  }

  .bottom-nav {
    /* position: absolute; */
    /* display: flex  */
    /* position: sticky;
    bottom: 0; */
  }

  .main-components-wrapper {
    padding: 1rem;
    overflow: scroll;
    width: 100vw;
  }
}

/* @media screen and (max-width: 892px) {
  .app-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
} */
